<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Song Form</title>
</head>
<body>
<form th:object="${song}" th:action="@{/validateSong}" method="post">
    <div>
        <label for="songName">Song Name:</label>
        <input type="text" id="songName" th:field="*{nameSongs}">
        <div th:if="${#fields.hasErrors('nameSongs')}" th:errors="*{nameSongs}"></div>
    </div>

    <div>
        <label for="Singer">Singer:</label>
        <input type="text" id="Singer" th:field="*{singer}">
        <div th:if="${#fields.hasErrors('singer')}" th:errors="*{singer}"></div>
    </div>

    <div>
        <label for="lyrics">Lyrics:</label>
        <input type="text" id="lyrics" th:field="*{lyrics}">
        <div th:if="${#fields.hasErrors('lyrics')}" th:errors="*{lyrics}"></div>
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
</form>
</body>
</html>
